<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="content-language" content="fr" />
        
        <link type="image/png" href="" rel="shortcut icon" />
         
        <title>Website - {% block titre %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/main.css" media="screen">       
    </head>
    <body>      
        
        {% block content %}{% endblock %}
            
        <script src="{{ app.request.basepath }}/assets/js/main.js"></script>
    </body>
</html>